.movie-about {
  display: flex;
  background-color: #ffffff17;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;

  article {
    width: 45%;
    display: flex;
    padding: 2rem auto;

    img {
      width: 100%;
    }
  }
}
