.container-about {
  background-image: url(../assets/fundo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  article {
    padding: 5rem 0 0 2.5rem;
    color: white;

    h1 {
      font-size: 50px;
    }

    p {
      margin: 3rem 0;
      max-width: 350px;
    }
  }
}
